## Jan Chren (rindeal) <dev.rindeal@gmail.com>
Jan Chren (rindeal) <dev.rindeal@gmail.com> <dev.rindeal+github.com@gmail.com>
Jan Chren (rindeal) <dev.rindeal@gmail.com> <dev.rindeal@outlook.com>
Jan Chren (rindeal) <dev.rindeal@gmail.com>

## Pavel Kozlov (pkozlov) <pkozlov.vrn@gmail.com>
Pavel Kozlov (pkozlov) <pkozlov.vrn@gmail.com> <p-kozlov@users.noreply.github.com>
Pavel Kozlov (pkozlov) <pkozlov.vrn@gmail.com> <pkozlov@evolutiongaming.com>
Pavel Kozlov (pkozlov) <pkozlov.vrn@gmail.com> <fancywriter@users.noreply.github.com>
Pavel Kozlov (pkozlov) <pkozlov.vrn@gmail.com>

## Jorge Pizarro Callejas (jorgicio) <jorgicio@jorgicio.net>
Jorge Pizarro Callejas (jorgicio) <jorgicio@jorgicio.net>

## Mike Gelfand (mikedld) <mikedld@mikedld.com>
Mike Gelfand (mikedld) <mikedld@mikedld.com>

## David Roman (stkw0) <davidroman96@gmail.com>
David Roman (stkw0) <davidroman96@gmail.com>
